{% extends "index.html"%} {% block content%}
<div class="card">
  <div class="card-header text-light bg-gradient-danger">
    <h3>edit password</h3> </div>
  <hr>
  <div class="card-body">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="card-body col-sm-5">
    <form method="post" action="{% url 'update_password'%}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
          <label for="password" class="col-4 col-form-label"> Current Password:</label> 
          <div class="col-8">
            <input id="password" name="password" placeholder="Masukan  Password Lama" type="password" class="form-control">
          </div>
        </div> 
        <div class="form-group row">
          <label for="new_password" class="col-4 col-form-label"> New Password:</label> 
          <div class="col-8">
            <input id="new_password" name="new_password" placeholder="Masukan  Password Baru" type="password" class="form-control">
          </div>
        </div> 
        <div class="form-group row">
          <label for="confirm_new_password" class="col-4 col-form-label"> Confirm New Password</label> 
          <div class="col-8">
            <input id="confirm_new_password" name="confirm_new_password" placeholder="Masukan  Confirm Password" type="password" class="form-control">
          </div>
        </div> 
        <hr>
        <a href="{% url 'datapeminjaman'%}" type="button" class="btn btn-primary">Back </a>
        <button type="submit" name="submit" class="btn btn-warning align-items-center">Submit</button>
      </form>
    </div>
  </div>  
</div>
{% endblock content%}